@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(24 24 27 / var(--tw-text-opacity, 1));
  --foreground: rgb(161 161 170 / var(--tw-text-opacity, 1));
}

body {
  color: var(--foreground);
  background: var(--background);
}
